{% extends "barbershop/main.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title%} Home {% endblock %}
{% block navbar %}
<nav class="navbar navbar-expand-md navbar-light bg-white">
   <a class="navbar-brand" href="#">
   <img src="https://www.flaticon.com/svg/static/icons/svg/1995/1995573.svg" width="30" height="30" class="d-inline-block align-top" alt=""><strong>  St Francis Barbershop </strong> </a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
   <span class="navbar-toggler-icon"></span>
   </button>
   <div class="navbar-collapse collapse" id="collapsingNavbar">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url  'appointments_list' %}">Appointment List</a>
         </li>
         <li class="nav-item active">
            <a class="nav-link" href="#service">Service</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="#pricing">Pricing</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="{% url  'appointment' %}">Appointment</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="https://www.google.com/maps/place/Khar+Danda,+Mumbai,+Maharashtra+400047/@19.0763219,72.8278169,21z/data=!4m5!3m4!1s0x3be7c975108af3cb:0xe4e0566886b38695!8m2!3d19.0787581!4d72.8264378" target="_blank">Find us</a>
         </li>
      </ul>
   </div>
</nav>
{% endblock %}
{% block content %}
<main role="main">
   <div class="container marketing mt-5">
      <section id="about">
         <div class="justify-content-center">
            <img class="shop-bg" src="{% static 'images/barbershop.jpg' %}" height="70%" width="100%" alt="">
            <div class="caption">
               <h3>Welcome to</h3>
               <h1>St Francis Barbershop</h1>
               <p>Customer satisfaction is our top priority.</p>
            </div>
         </div>
      </section>
      <section id="schedule" class="">
         <div class="row justify-content-center text-center">
            <div class="card m-5 px-5 py-2">
               <h4>Open time</h4>
               <p>MON-FRI 10 AM - 10 PM</p>
            </div>
            <div class="card m-5 px-5 py-2">
               <h4> Our location</h4>
               <a class="nav-link" href="https://www.google.com/maps/place/Khar+Danda,+Mumbai,+Maharashtra+400047/@19.0763219,72.8278169,21z/data=!4m5!3m4!1s0x3be7c975108af3cb:0xe4e0566886b38695!8m2!3d19.0787581!4d72.8264378" target="_blank">Khar west, Mumbai</a>
            </div>
            <div class="card m-5 px-5 py-2">
               <h4>Book now</h4>
               <p>+91 8297681xxx2</p>
            </div>
         </div>
      </section>
      <section id="service">
         <hr class="featurette-divider">
         <div class="text-center text-uppercase font-weight-bold my-5">
            <h2>Service</h2>
         </div>
         <div class="row">
            <div class="col-lg-4">
               <img class="img rounded-circle" width="140" height="140" src="{% static 'images/haircut.png' %}">
               <h2>Haircut</h2>
               <p>We have Normal, Classic and Royal haircut. In classic you get Shampoo, Haircut, Shampoo Styling and For Royal Haircut everything from classic plus head massage.</p>
            </div>
            <div class="col-lg-4">
               <img class="img rounded-circle" width="140" height="140" src="{% static 'images/shave.png' %}">
               <h2>Shaving</h2>
               <p>With normal shaving you can try Special and classic shave. For special shave you get a cleaning, Hot facial, Pre shave oil, Foam Shave, After Shave Styling and with classic shave you get extra services like Scrub, Face Massage, Hand & Shoulder Massage and after Shave styling.</p>
            </div>
            <div class="col-lg-4">
               <img class="img rounded-circle" width="140" height="140" src="{% static 'images/massage.png' %}">
               <h2>Facial / Massage</h2>
               <p>We do Head massage with and without different kinds of oils and for facial you can experience our NATURAL GOLD and Fruit GOLD facial</p>
            </div>
            <div class="col-lg-4">
               <img class="img rounded-circle" width="140" height="140" src="{% static 'images/hair.png' %}">
               <h2>Color</h2>
               <p>We use 3 types of color, Garnier, L'Oreal and Streax. To give you the new look you deserve.</p>
            </div>
            <div class="col-lg-4">
               <img class="img rounded-circle" width="140" height="140" src="{% static 'images/scrub.png' %}">
               <h2>Face Scrub</h2>
               <p>Our face scrub service will help to remove dead cells from skin, reducing the potential for clogged pores and acne breakouts. </p>
            </div>
         </div>
      </section>
      <section id="pricing">
         <hr class="featurette-divider">
         <div class="text-center text-uppercase font-weight-bold my-5">
            <h2>Pricing</h2>
         </div>
         <div class="row featurette">
            <div class="col-md-7">
               <h2 class="featurette-heading"> For Mens </h2>
               <div class="lead">
                  <table class="table table-borderless">
                     <thead>
                        <tr>
                           <th scope="col">Service</th>
                           <th scope="col">Charges</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td>Haircut</td>
                           <td>100 - 400 Rs</td>
                        </tr>
                        <tr>
                           <td>Shaving</td>
                           <td>50 - 200 Rs</td>
                        </tr>
                        <tr>
                           <td>Color</td>
                           <td>200 - 400 Rs</td>
                        </tr>
                        <tr>
                           <td>Facial</td>
                           <td>400 - 500 Rs</td>
                        </tr>
                        <tr>
                           <td>Clean up</td>
                           <td>400 - 500 Rs</td>
                        </tr>
                        <tr>
                           <td>Head Massage</td>
                           <td>100 - 200 Rs</td>
                        </tr>
                        <tr>
                           <td>Face Massage</td>
                           <td>200 Rs</td>
                        </tr>
                        <tr>
                           <td>Face Scrub</td>
                           <td>150 Rs</td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
            <div class="col-md-5 justify-content-center">
               <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="{% static 'images/forman.png' %}">
            </div>
         </div>
         <hr class="featurette-divider">
         <div class="row featurette mb-5">
            <div class="col-md-7">
               <h2 class="featurette-heading"> For womens </h2>
               <div class="lead">
                  <table class="table table-borderless">
                     <thead>
                        <tr>
                           <th scope="col">Service</th>
                           <th scope="col">Charges</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td>Haircut</td>
                           <td>200 Rs</td>
                        </tr>
                        <tr>
                           <td>Facial / Massage</td>
                           <td>150 Rs</td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
            <div class="col-md-5">
               <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="{% static 'images/forwoman.png' %}">
            </div>
         </div>
      </section>
       <hr class="featurette-divider">
      <section id="appointment">
         <div class="col-lg-12 mt-5">
              <div class="card  bg-secondary">
                  <a  href="{% url  'appointment' %}" class="text-center text-light p-5" style="font-size:30px;">Make An Appointment</a>
              </div>
          </div>
<!--          <a id="submit" name="submit" href="{% url  'appointment' %}" class="btn btn-primary">Make An Appointment</a>-->
      </section>


   </div>
</main>
{% endblock %}

